/* ============= Navber ============== */
.NavText {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-weight: 600;
  padding-top: 20px;
}

/* ============= Fonts ============== */
/* ============= Fonts ============== */
/* ============= Fonts ============== */
/* ============= Fonts ============== */
