.header {
  font-family: "Poppins", sans-serif;
}
.pera {
  font-family: "Inter", sans-serif;
  font-weight: 400;
}
.btn {
  transition: all linear 0.1s;
}
.btn:hover {
  color: #000;
  background: #fff;
  border: 1px solid #000;
}
.inter {
  font-family: "Inter", sans-serif;
}
